/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i {
    color: grey;
    cursor: pointer;
}

.avatar {
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}

/* body */
body {
    position: relative;
    height: 100vh;
    background-color: #DBDBD2;
}

/* header */
/* nav */
header nav {
    width: 100vw;
    height: 150px;
    background-color: #009688;
}

/* main */
.wrapper {
    display: flex;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 700px;
    margin: auto;
    box-shadow: 6px -1px 7px 1px grey;
}
.chat-item {
    border-right: 1px solid rgb(196, 195, 195);
}

.chat-item,
.chat-box {
    display: flex;
    flex-direction: column;
}

.nav-left,
.nav-right,
.on-notice,
.search-contact,
.contact-right,
.chat-list,
.chat-box footer
{
    display: flex;
}

/* chat-nav */
.chat-item nav, 
.chat-box nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    
}

.chat-item nav, 
.chat-box nav {
    background-color: #EAEAEA;
}

.nav-left,
.nav-right,
.contact-left,
.contact-right {
    align-items: center;
}

.nav-left i,
.nav-right i {
    padding: 5px;
    color: grey;
}

.nav-left img,
.contact-left img,
.on-notice i {
    margin-right: 5px;
}

#message,
#active-notice {
    color: grey;
}

#active-notice {
    cursor: pointer;
    text-decoration: underline;
}
/* chat-item */
.chat-item {
    width: 45%;
}

.chat-item main {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.on-notice {
    padding: 10px;
    background-color: #8EDAFC;
}

.on-notice i {
    color: #8EDAFC;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: white;
}

.search-contact i {
    padding: 10px;
    border: 4px solid #EAEAEA;
}

.search-contact input {
    width: 90%;
    border: 4px solid #EAEAEA;
}

.chat-list {
    flex-direction: column;
}

.contact-left {
    display: flex;
}

.chat {
    border-top: 1px solid rgb(196, 195, 195);
}

.chat li {
    list-style: none;
}

/* chat-box */
.chat-box {
    width: 100%;
}

.chat-box main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.wrapper-chat {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.chat-box footer {
    justify-content: space-between;
    width: 100%;
    background-color: #F3EEEA;
}

.chat-box footer input {
    width: 100%;
    border: 7px solid #F3EEEA;
}

.chat-box footer i {
    padding: 20px;
}

.message-sticker {
    width: 250px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.send {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.received {
    align-self: flex-start;
    background-color: #FFFFFF;
}


