<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://img.icons8.com/color/452/whatsapp--v1.png">
        <title>Boolzapp</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    </head>
    <body>
        <!-- header -->
        <header>

            <!-- nav -->
            <nav>
                
            </nav>
            <!-- /nav -->

        </header>
        <!-- /header -->

        <!-- main -->
        <main id="root" class="wrapper">

            <!-- chat-item -->
            <section class="chat-item" :class="{'dark_border_left': toggledark==true}">

                <!-- nav-chat-item -->
                <nav :class="{'dark': toggledark==true}">
                    <div class="nav-left">
                        <img class="avatar" src="img/avatar_2.jpg" alt="avatar_io">
                        <p>Antonio Flore</p>
                    </div>
                    <div class="nav-right">
                        <i class="fas fa-circle-notch" @click="toggle_darktheme"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </nav>
                <!-- /nav-chat-item -->

                <!-- main-chat-item -->
                <main class="color_background" :class="{'dark': toggledark==true}">

                    <!-- notice -->
                    <section class="on-notice">
                        <i class="fas fa-bell-slash"></i>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p id="active-notice">Attiva notifiche desktop</p>
                        </div>
                    </section>
                    <!-- /notice -->

                    <!-- search-contact -->
                    <section class="search-contact">
                        <i class="fas fa-search search_contact_icon" :class="{'input_border_color_dark': toggledark==true}"></i>
                        <input class="search_contact_input" :class="{'input_border_color_dark': toggledark==true}" type="text" name="" id="" @keydown="searchContact" v-model="search" :class="{'dark': toggledark==true}" placeholder=" Cerca o inizia una nuova chat">
                    </section>
                    <!-- /search-contact -->

                    <!-- chat-list -->
                    <section class="chat-list" :class="{'dark': toggledark==true}">
                        <div class="chat" :class="{'dark_border_top': toggledark==true}" v-for="(contact, index) in contacts" :class="{ 'active': index == activeIndex, 'visible': contact.visible == false, 'dark': toggledark==true}" @click="thisChat(index)">
                            <div class="contact-left">
                                <img class="avatar" :src="getImage(index)"
                                alt="avatar">
                                <div id="info">
                                    <p>{{contact.name}}</p>
                                    <p v-if="index == activeIndex && writing==true">Sta scrivendo...</p>
                                    <p v-else>{{getLastMessage(contact).text}}</p>
                                </div>
                            </div>
                            <div>
                                <p id="date">{{getLastMessageDate(contact).date}}</p>
                            </div>
                        </div>
                    </section>
                    <!-- /chat-list -->

                </main>
                <!-- /main-chat-item -->

            </section>
            <!-- /chat-item -->

            <!-- chat-box -->
            <section class="chat-box">

                <!-- nav-chat-box -->
                <nav :class="{'dark': toggledark==true}">
                    <div class="nav-left">
                        <img class="avatar" :src="getImage(activeIndex)" alt="avatar_io">
                        <div id="info">
                            <p>{{contacts[activeIndex].name}}</p>
                            <p v-if="writing==false">Utimo accesso {{time()}}</p>
                            <p v-else>Sta scrivendo...</p>
                        </div>
                    </div>
                    <div class="nav-right">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </nav>
                <!-- /nav-chat-box -->

                <!-- main-chat-box -->
                <main :class="{'dark_background_image': toggledark==true}" class="background-image">
                    <div class="wrapper-chat" v-for="(message, index) in contacts[activeIndex].messages">
                        <div :class="(message.status=='sent') ? 'sent' : 'received' "  class="message-sticker">
                            <p id="option-message"><i class="fas fa-chevron-down" @click="toggle_dropdown(index)"></i></p>
                            <div :class="(message.toggle) ? '' : 'visible' " id="dropdown-option">
                                <ul>
                                    <li><a href="#">Info messaggio</a></li>
                                    <li><a href="#" @click="deleteMessages(index)">Elimina messaggio</a></li>
                                </ul>
                            </div>
                            <p>{{message.text}}</p>
                            <p id="date">{{message.date}}</p>
                        </div>
                    </div>
                </main>
                <!-- /main-chat-box -->  

                <!-- footer-chat-box -->
                <footer :class="{'dark': toggledark==true}">
                    <i class="far fa-smile"></i>
                    <input class="input_border_color" :class="{'input_border_color_dark': toggledark==true}" type="text" name="" id="" v-model="newMessage" @keydown.enter="addNewMessage" @keyup.enter="delay" placeholder=" Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </footer>
                <!-- /footer-chat-box -->

            </section>
            <!-- /chat-box -->

        </main>
        <!-- /main -->

        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>